<div class="panel-body">
  <h3>Please select your flat:</h3>
  <div class="row mb-3" *ngIf="flats">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let flat of flats">
          <div class="d-flex w-100 justify-content-between">
            <button class="btn btn-primary" [routerLink]="['/flat/details', flat.flatId]" [innerText]='flat.name'></button>
            <small>
              <button type="button" class="btn btn-danger" (click)='delete(flat)'>Delete</button>
            </small>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/flat/new']" role="button">Create new flat</button>
    </div>
  </div>
</div>
