<div class="panel-body">
  <h3>
    Please enter the flat details:
  </h3>
  <form class="form-horizontal" novalidate="novalidate" (ngSubmit)="save()" [formGroup]="flatForm">
    <fieldset>

      <fm-error [messages]='errorMessages'></fm-error>

      <div class="row form-group">
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Flat Name</span>
          </div>
          <input type="text" class="form-control" placeholder="Flat name (required)" formControlName="name" [ngClass]="{'is-invalid': (name.dirty || name.touched) && !name.valid }"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Address</span>
          </div>
          <input type="text" class="form-control" placeholder="Address (required)" formControlName="address" [ngClass]="{'is-invalid': (address.dirty || address.touched) && !address.valid }"
          />
        </div>
      </div>

      <div *ngIf="flatmates.controls.length != 0">
        <div class="row">
          <div class="col-3">Fullname</div>
          <div class="col-3">Nickname</div>
          <div class="col-3">Date of birth</div>
          <div class="col-2"></div>
          <div class="col-1"></div>
        </div>
        <div formArrayName="flatmates" *ngFor="let flatmate of flatmates.controls; let i = index">
          <div class="row form-group" [formGroupName]="i">
            <div class="input-group mb-1 col-3">
              <input type="text" class="form-control" placeholder="Full name (required)" formControlName="fullName" [ngClass]="{'is-invalid': (flatmate.get('fullName').dirty || flatmate.get('fullName').touched) && !flatmate.get('fullName').valid }"
              />
            </div>
            <div class="input-group mb-1 col-3">
              <input type="text" class="form-control" placeholder="Nickname (required)" formControlName="nickName" [ngClass]="{'is-invalid': (flatmate.get('nickName').dirty || flatmate.get('nickName').touched) && !flatmate.get('nickName').valid }"
              />
            </div>
            <div class="input-group mb-1 col-3">
              <input type="date" class="form-control" placeholder="Date of birth (required)" formControlName="birthDate" [ngClass]="{'is-invalid': (flatmate.get('birthDate').dirty || flatmate.get('birthDate').touched) && !flatmate.get('birthDate').valid }"
              />
            </div>
            <div class="input-group mb-1 col-2">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn" [ngClass]="{'btn-secondary': flatmate.get('flatTenant').value, 'btn-outline-secondary': !flatmate.get('flatTenant').value }">
                  <input type="checkbox" formControlName="flatTenant" autocomplete="off" /> Flat tenant
                </label>
              </div>
            </div>
            <div class="input-group mb-1 col-1">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-light" (click)="addFlatmate()">+</button>
                <button type="button" class="btn btn-light" (click)="removeFlatmate(i)" *ngIf="i > 0">-</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1">
          <button type="submit" class="btn btn-primary" [disabled]='!flatForm.valid'>Save</button>
        </div>
        <div class="col"></div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-outline-danger" (click)='onBack()'>Back</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
