<div class="row form-group">
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text">Name</span>
    </div>
    <input type="text" class="form-control" placeholder="Your name" [(ngModel)]='name' />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">The flat name</span>
    </div>
    <input type="text" class="form-control" placeholder="Flat name" [(ngModel)]='flatName' />
  </div>
</div>
<div class="row">
  <div class="col-sm-1">
    <button type="button" class="btn btn-primary" (click)='login()'>Login</button>
  </div>
  <div class="col">
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-outline-danger" (click)='clear()'>Clear</button>
  </div>
</div>
