<fm-message [messages]='messages'></fm-message>
<form [formGroup]="homeForm">
  <h3>Flat details</h3>
  <fm-flat-form (messageOut)="onMessage($event)" [loadUserData]="true" [showControls]="true"></fm-flat-form>
  <hr />
  <h3>Flatmates details</h3>
  <form [formGroup]="flatmateForm">
    <fm-flatmate-form [editMode]="editFlatmates" [flatmateForm]="flatmateForm" [parentForm]="homeForm"></fm-flatmate-form>
    <div class="row mb-3">
      <div class="col">
      </div>
      <div>
        <button type="button" class="btn btn-secondary" (click)="editFlatmates = true" *ngIf="!editFlatmates">Edit</button>
        <button type="button" class="btn btn-primary" (click)="saveFlatmatesEdit()" [disabled]="!flatmateForm.valid" *ngIf="editFlatmates">Save</button>
        <button type="button" class="btn btn-outline-danger" (click)="undoFlatmatesEdit()" *ngIf="editFlatmates">Cancel</button>
      </div>
    </div>
  </form>
</form>
