<fm-message [messages]='messages'></fm-message>
<form [formGroup]="homeForm">
  <h3>Flat details</h3>
  <form [formGroup]="flatForm">
    <fm-flat-form [editMode]='editFlat' [flatForm]='flatForm'></fm-flat-form>
    <div class="row mb-3">
      <div class="col">
      </div>
      <div>
        <button type="button" class="btn btn-secondary" (click)="editFlat = true" *ngIf="!editFlat">Edit</button>
        <button type="button" class="btn btn-primary" (click)="saveFlatEdit()" [disabled]="!flatForm.valid" *ngIf="editFlat">Save</button>
        <button type="button" class="btn btn-outline-danger" (click)="undoFlatEdit()" *ngIf="editFlat">Cancel</button>
      </div>
    </div>
  </form>
  <hr />
  <h3>Flatmates details</h3>
  <form [formGroup]="flatmateForm">
    <div *ngIf="flatmateForm.length != 0">
      <div class="row">
        <div class="col-3">Fullname</div>
        <div class="col-2">Nickname</div>
        <div class="col-2">Date of birth</div>
        <div class="col-2">Login</div>
        <div class="col"></div>
      </div>
      <fm-flatmate-form [editMode]="editFlatmates" [flatmateForm]="flatmateForm" [parentForm]="homeForm"></fm-flatmate-form>
    </div>
    <div class="row mb-3">
      <div class="col">
      </div>
      <div>
        <button type="button" class="btn btn-secondary" (click)="editFlatmates = true" *ngIf="!editFlatmates">Edit</button>
        <button type="button" class="btn btn-primary" (click)="saveFlatmatesEdit()" [disabled]="!flatmateForm.valid" *ngIf="editFlatmates">Save</button>
        <button type="button" class="btn btn-outline-danger" (click)="undoFlatmatesEdit()" *ngIf="editFlatmates">Cancel</button>
      </div>
    </div>
  </form>
</form>